*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(31, 141, 104);
}

.name{
    width: 400px;
    min-height: 70px;
    margin: 200px auto 0px;
    font-size: 3rem;
    font-weight: 800;
    color: azure;
    text-align: center;
}
.line{
    margin: auto;
    background-color: rgb(73, 64, 64, 0.3);
    width: 250px;
    height: 10px;
    border-radius: 30%;
}
.text{
    width: 900px;
    min-height: 100px;
    font-size: 1.5rem;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 30px;
    text-align: center;
    color: azure;
}
.card{
    min-width: 20px;
    min-height: 30px;
    padding-bottom: 30px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10%;

}
.emberpich{
    border-radius: 10%;
    padding-bottom: 30px;
}

.allcards{
    text-align: center;
    border-radius: 10%;
}

.cardtext1{
    font-size: 1.3rem;
    min-width: 20px;
    min-height: 30px;
    padding-bottom: 30px;
    color: azure;
}

.cardtext2{
    font-size: 1.1rem;
    width: 240px;
    min-height: 100px;
    color: azure;
}